@use '../../../assets/scss/abstracts'as *;

// #cursor {
//     opacity: 0;
//     position: fixed;
//     top: -5px;
//     left: -5px;
//     width: 10px;
//     height: 10px;
//     background-color: white;
//     border-radius: 50%;
//     pointer-events: none;
//     z-index: 999;
// }

// #cursor-border {
//     --size: 100px;
//     position: fixed;
//     top: calc(var(--size) / 2);
//     left: calc(var(--size) / 2);
//     width: var(--size);
//     height: var(--size);
//     border-radius: 50%;
//     box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
//     pointer-events: none;
//     transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
//         height 0.15s ease-out, background-color 0.15s ease-out;
//     z-index: 999;
//     display: flex;
//     align-items: center;
//     justify-content: center;

// }





// .cursor-view {
//     background-color: var(--bs-body-color);
//     font-size: 16px;
//     line-height: 22px;
//     text-align: center;
//     color: var(--ui-color);
//     font-weight: 600;
//     background: rgba(255, 255, 255, .1);
//     backdrop-filter: blur(10px);
// }

// .cursor-arrow {
//     background-color: var(--bs-body-color);
//     font-size: 16px;
//     line-height: 22px;
//     text-align: center;
//     color: var(--ui-color);
//     font-weight: 600;
//     background: rgba(255, 255, 255, .1);
//     backdrop-filter: blur(10px);


//     svg {
//         stroke: var(--bs-body-bg);
//     }

// }

// [data-bs-theme=light] {
//     .cursor-arrow {
//         svg {
//             // filter: invert(100%);
//             // -webkit-filter: invert(100%);
//         }

//     }
// }


// .pointer-view,
// .pointer-pointer {
//     cursor: pointer;
// }


[data-cursor=pointer2] {
    cursor: pointer;
}



#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
}

#cursor-border {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 0px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #fff;
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
        height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 999;


}

#cursor-border.cursor-pointer-hover {
    --size: 48px;
    background: #fff;

    &:before {
        margin: auto;
        display: block;
        width: 24px;
        height: 24px;
        content: "";
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWFycm93LXVwLXJpZ2h0Ij48bGluZSB4MT0iNyIgeTE9IjE3IiB4Mj0iMTciIHkyPSI3Ij48L2xpbmU+PHBvbHlsaW5lIHBvaW50cz0iNyA3IDE3IDcgMTcgMTciPjwvcG9seWxpbmU+PC9zdmc+");
        background-repeat: no-repeat;
        background-size: contain;
    }
}