@use '../../../assets/scss/abstracts'as *;

section.contacts {
    margin: 0 0 6rem 0;
}

.card-contact {
    display: flex;
    padding: 2rem;
    // background-color: rgba(var(--ui-emphasis-alt-rbg), 0.6);
    backdrop-filter: blur(10px);
    background-color: rgba(var(--bs-emphasis-color-alt-rgb), 0.3);
    transition: all .3s ease;

    @media (min-width:$lg) {
        min-height: 200px;
    }

    .card-title {
        margin-bottom: 0;

        .underline {
            font-size: 1.5rem !important;
        }

    }

    &:hover,
    &:active,
    &:focus {
        background-color: rgba(var(--bs-emphasis-color-alt-rgb), 0.9);
    }
}