@use '../../../assets/scss/variables' as *;

.contactsSection {
  padding: 6rem 0;
}

.cardContact {
  display: flex;
  padding: 2rem;
  backdrop-filter: blur(10px);
  background-color: rgba(var(--bs-emphasis-color-alt-rgb), 0.3);
  min-height: 134px;
  border: none;
  border-radius: 12px;
  @media (min-width: $lg) {
    min-height: 200px;
  }

  font-size: 1.5rem !important;

  .cardTitle {
    margin-bottom: 0;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: rgba(var(--bs-emphasis-color-alt-rgb), 0.6);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.01);
  }
}

.cardContact:hover {
  :global(.svg-caret) {
    transform: translateX(0) scale(1);
    // stroke: rgba(var(--bs-emphasis-color-rgb), 1);
    stroke-width: 18;
  }
  :global(.svg-stem) {
    stroke-dashoffset: 800;
    // stroke: rgba(var(--bs-emphasis-color-rgb), 1);
    stroke-width: 18;
    //stroke-dashoffset: 0;
  }
}
.circleArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--bs-emphasis-color-alt-rgb), 0.6);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
