@use '../../../assets/scss/variables' as *;

.footerSection {
  [data-bs-theme='dark'] & {
    background: rgba(0, 0, 0, 0.5);
  }

  [data-bs-theme='light'] & {
    background: rgba(255, 255, 255, 0.5);
  }
}

.footerBottomRow {
  display: flex;
  padding: 2rem 0;
  font-size: 12px;
}

.footerSocialLink {
  display: inline-flex;
  padding: 0;
  max-width: 48px;
  width: 48px;
  height: 48px;
  max-height: 48px;

  //
  //
  max-width: 32px;
  width: 32px;
  height: 32px;
  max-height: 32px;

  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  line-height: 0;

  [data-bs-theme='dark'] & {
    background: rgba(0, 0, 0, 0.8);

    img {
      filter: invert(1) brightness(2);
    }
  }

  [data-bs-theme='light'] & {
    background: rgba(255, 255, 255, 1);

    &:hover {
      background: rgba(255, 255, 255, 1);
    }
  }

  &:hover {
    background: #000;
    transition: all 0.3s ease;
  }

  img {
    width: 14px;
    height: 14px;
  }
}

.footerSocialLinks {
  display: inline-flex;
  align-items: center;
}
