@use '../abstracts'as *;


// @media (max-width: 767px) {

//     .container,
//     .container-md,
//     .container-sm {
//         max-width: 100%;
//     }
// }


// @media (max-width: 1199px) {

//     .container,
//     .container-lg,
//     .container-md,
//     .container-sm {
//         max-width: 100%;
//     }
// }



.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 2rem;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);

}

.row {
    --bs-gutter-x: 2rem;
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.row>* {
    --bs-gutter-x: 2rem;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}



@media (min-width:576px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        width: 100%;
        max-width: 1632px;
    }
}

@media (min-width: 3840px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        width: 100%;
        max-width: 2010px;
    }
}