@use '../abstracts'as *;


nav[aria-label="breadcrumb"] {
    font-family: var(--sans);
    text-transform: uppercase;
    color: #727272;

    ol {
        list-style: none;

        li.breadcrumb-item {
            @include font-size(14, 18);

            &::before {
                color: var(--masb-sky);
            }

            a:link,
            a:visited {
                color: var(--masb-cobalt);
                background-size: 0 8px,
                    0 8px;
            }

            a:hover {
                background-size: 0 8px,
                    100% 8px;
            }
        }

        li.breadcrumb-item.active {
            color: #727272;
        }
    }
}