@use '../abstracts'as *;



.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    border-radius: 0;
    font-size: 16px;
    padding: 8px 20px;
    transition: all .3s ease;
    min-width: 60px;
    // border-radius: 300px;
    font-weight: 600;


    .bi {
        font-size: 24px;
    }

    &:hover {
        // transform: translateY(1px);

        .feather {
            color: var(--bs-body-bg);

            circle {
                stroke: var(--bs-body-bg);
            }
        }
    }
}









// .btn-check:checked+.btn,
// .btn.active,
// .btn.show,
// .btn:first-child:active,
// :not(.btn-check)+.btn:active {
//     color: rgba(var(--bs-white-rgb), 1);
//     background: rgba(var(--bs-black-rgb), .9);
//     border-color: rgba(var(--bs-black-rgb), .9);
// }



.btn-sm {
    font-size: 14px;
    line-height: 24px;
    padding: 6px 12px;
}


.btn-md {
    font-size: 16px;
    //height: 40px;
    padding: 8px 20px;
}

.btn-lg {
    font-size: 16px;
    //height: 48px;
    padding: 14px 24px;
}




.btn-icon {
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:before {
        font-size: 18px;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }


}

.btn.btn-primary,
.btn-primary {
    border: 1px solid #121212;
    background: #121212;
    color: #dee2e6;

    &:hover,
    &:active,
    &:focus {
        border: 1px solid #121212;
        background: #121212;
        color: #dee2e6;
    }
}

[data-bs-theme="dark"] {


    // .btn-secondary {
    //     border: 1px solid rgba(255, 255, 255, 0);
    //     background: rgba(255, 255, 255, 1);
    //     color: var(--ui-gray-20);

    //     &:hover,
    //     &:active,
    //     &:focus {
    //         //border: 1px solid rgba(255, 255, 255, 1);
    //         //background: rgba(255, 255, 255, 1);
    //         //color: #121212;
    //     }
    // }
}

[data-bs-theme="light"] {}


.btn-secondary {
    border: 1px solid rgba(255, 255, 255, 1);
    color: #121212;
    background: rgba(255, 255, 255, 1);
    color: #121212;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0px 2px 2px rgba(0, 0, 0, .04);

    &:hover,
    &:active,
    &:focus {
        border: 1px solid rgba(255, 255, 255, 1);
        background: rgba(255, 255, 255, 1);
        color: #121212;
    }
}

.btn-muted {
    background: rgba(var(--bs-body-color-rgb), .1);
    color: rgba(var(--bs-body-color-rgb), 1);

    &:hover {
        background: rgba(var(--bs-body-color-rgb), .2);
    }
}

.btn-outline {
    border-color: rgba(var(--bs-body-color-rgb), .3);

    &:hover {
        border-color: rgba(var(--bs-body-color-rgb), 1);
        color: var(--ui-emphasis);
    }
}


.close {
    display: inline-flex;
    width: 48px;
    height: 48px;
    opacity: 0.8;
    position: relative;
    border: 1px solid rgba(var(--ui-bg-rgb), 0);
    border-radius: 500px;

    &.lg {
        width: 76px;
        height: 76px;
    }
}

.close:hover {
    opacity: 1;
    border: 1px solid rgba(var(--ui-color-rgb), .3);
}

.close:before,
.close:after {
    position: absolute;
    top: 5px;
    left: 22px;
    content: ' ';
    height: 32px;
    width: 2px;
    background-color: var(--ui-color);
}

.close.lg:before,
.close.lg:after {
    top: 12px;
    left: 35px;
    height: 48px;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}







// .btn {
//     position: relative;
// }

// .btn:before {
//     content: '';
//     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-size: 400%;
//     z-index: -1;
//     width: calc(100% + 0px);
//     height: calc(100% + 0px);
//     animation: glowing 20s linear infinite;
//     opacity: 0;
//     transition: opacity .3s ease-in-out;
// }

// .btn:hover:before {
//     opacity: 1;
// }

// .btn:after {
//     z-index: -1;
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     color: rgba(var(--bs-body-color-rgb), 1);
//     background: var(--bs-body-bg);
//     left: 0;
//     top: 0;
// }



// @keyframes glowing {
//     0% {
//         background-position: 0 0;
//     }

//     50% {
//         background-position: 400% 0;
//     }

//     100% {
//         background-position: 0 0;
//     }
// }







.btn {
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;

    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            #213,
            #112 5%,
            #112 60%,
            #213 95%);


    &:hover {
        border: solid 1px transparent;
        --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
        animation: bg-spin 3s linear infinite;
    }





    background: var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;

    background-position: center center;



    @keyframes bg-spin {
        to {
            --border-angle: 1turn;
        }
    }

    // &:hover {
    //     animation-play-state: paused;
    // }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}






a,
.btn,
button {
    .underline {
        cursor: pointer;
        width: 100%;
        position: relative;

        >span {
            background-image: linear-gradient(transparent calc(100% - 1px), var(--ui-gray-11) 1px);
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position: bottom right;
            transition: background-size .5s;
            padding-bottom: 3px;
        }
    }

    &:hover {
        .underline {
            >span {
                background-position: bottom left;
                background-size: 100% 100%;
            }
        }
    }
}













// .btn-contact {
//     display: none;
//     margin: 2rem 0;
//     background: rgba(var(--ui-bg-rgb), 1);
//     border: 1px solid rgba(var(--ui-color-rgb), .1);
//     transition: all .3s ease;
//     width: 100%;
//     border: 1px solid #f3c;


//     @media (min-width:$lg) {
//         width: initial;
//         margin: 0;
//         display: inline-flex;

//     }
// }

.mobile-nav-open .btn-contact {
    display: block;
}



// .btn-contact,
// .btn-contact:link,
// .btn-contact:hover,
// .btn-contact:active,
// .btn-contact:focus {
//     display: inline-flex !important;
//     align-items: center !important;
//     padding: 0.75rem 1.25rem !important;
//     background: #121212;

//     svg {
//         opacity: 1;
//         margin-right: 12px;
//     }
// }

// [data-bs-theme="light"] {

//     .btn-contact,
//     .btn-contact:link,
//     .btn-contact:hover,
//     .btn-contact:active,
//     .btn-contact:focus {
//         background: #fff;
//         color: var(--ui-bg-color) !important;
//         border: 1px solid rgba(var(--ui-color-rgb), .2) !important;

//         svg {
//             stroke: var(--ui-color);
//         }
//     }
// }

.btn-link {
    position: relative;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;
    transition: all .3s ease-in-out;


    &:hover {
        color: var(--ui-emphasis);
        border-color: var(--ui-emphasis);

        &:before {
            background: #0e0e0e;
        }

    }
}


.btn-link:before {
    content: '';
    align-items: center;
    // background-color: #2d343a;
    // border: 1px solid #2d343a;
    // background: var(--bs-body-color);
    border-radius: 50%;
    content: "";
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-right: 12px;
    transition: all .3s ease-in-out;
    height: 40px;
   width: 40px;
    background: var(--bs-body-color);
}

.btn-link:after {
    content: "\f135";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //
    color: #fff;

    display: block;

    font-size: 28px;
    position: absolute;
    left: 6px;
    top: calc(50% + 0px);
    transform: translateY(-50%);
    color: #000;
}