@use '../abstracts'as *;

#megamenu-search {

    @media (max-width: 991px) {

        box-shadow: none;
        border-radius: 0;
        display: block;
        margin: 0;
    }



    padding: 1rem 1.5rem;

    @media (min-width:$lg) {
        max-width: 60%;
        left: auto;
    }

    label {
        color: var(--masb-navy);
        @include font-size(17, 21);
        margin-bottom: 20px;


        @media (min-width: $lg) {
            display: none;
        }
    }

    .input-group {
        .form-control {
            width: 100%;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-radius: 0;
            border-color: #AAA9AA;
            margin-bottom: rem(24);

            @media (min-width: $lg) {
                width: 1%;
                margin-right: 1.5rem;
                margin-bottom: 0;
            }

            &:focus {
                box-shadow: none;
            }

            &::placeholder {
                font-style: normal;

                font-weight: 500;
                color: #D0D5DC;
                font-size: rem(24);
            }

            @media (min-width: $lg) {
                &::placeholder {
                    font-style: italic;

                    color: #999;
                    font-size: rem(16);
                }
            }
        }
    }

    .btn {
        border-radius: 4px;
    }


}


.common-phrases {
    display: block;

    @media (min-width:$lg) {
        display: none;
    }

    .phrases-title {
        margin-top: rem(90);
        text-transform: capitalize;
    }

    .phrases-list {
        display: flex;
        flex-direction: column;


        a:link,
        a:visited {
            color: var(--masb-navy);
            text-decoration: none;
            padding: .3rem 0;
        }
    }

}