@use '../abstracts'as *;












.marquee {
    height: 80px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.marquee-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem 0;
    position: absolute;
    animation: marquee 20s linear infinite;

    >span {
        display: flex;
    }

    img {
        float: left;
        margin: 0 2rem;
    }
}

.marquee-inner:hover {
    animation-play-state: paused;
}





@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}












// body {
//     --item-count: 17;
//     --item-size: 150px;
//     --duration: 30s;
// }

// .logo-scroll-wrapper {
//     position: relative;
//     width: 100%;
//     display: grid;
//     place-items: center;
//     overflow: hidden;
//     margin: 4rem 0;
//     text-align: left;



// }











// .logo-scroll-wrapper .logo-scroll {
//     width: calc(var(--item-size) * var(--item-count));
//     display: flex;
//     animation: scroll-ltr var(--duration) linear infinite;
//     justify-content: space-between;
//     padding: 10px 0;
// }

// .logo-scroll-wrapper .logo-scroll:hover {
//     animation-play-state: paused;
// }

// .logo-scroll-wrapper .logo-scroll .logo {
//     width: var(--item-size);
//     cursor: pointer;
// }

// .logo-scroll-wrapper .logo-scroll .logo:hover {
//     transition: transform .2s ease-in-out;
//     transform: scale(1.2)
// }

// @keyframes scroll-ltr {
//     100% {
//         transform: translateX(0px);
//     }

//     0% {
//         transform: translateX(calc(var(--item-size) * var(--item-count) * -1));
//     }
// }

// @keyframes scroll-rtl {
//     0% {
//         transform: translateX(0px);
//     }

//     100% {
//         transform: translateX(calc(var(--item-size) * var(--item-count) * -1));
//     }
// }