@use '../abstracts'as *;

.nav-item-search {
    position: absolute;
    z-index: 9;
    width: 50px;
    height: 50px;
    top: 0;
    right: 52px;

    @media (min-width:$lg) {
        position: relative;
        right: initial;
    }

    a {
        display: inline-flex !important;
        width: 100%;
        height: 100%;
        align-items: center !important;
        justify-content: center;
        padding: 0 !important;
        margin: 0 !important;
        line-height: 0 !important;
        opacity: 1;

        &:hover {
            opacity: 1;
        }

        &:after {
            display: none !important;
        }
    }

}

.nav-item-search a {
    display: inline-block;
    width: 50px;
    height: 50px;
}


// .toggle-search {
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0 0 0 4px;
//     width: 50px;
//     height: 50px;
//     background: none;
//     border: none;

//     //border: 1px solid rgba(var(--ui-color-rgb), 0);
//     transition: all .3s ease;

//     &:hover {
//         //border-color: rgba(var(--ui-color-rgb), .3);
//     }
// }


// .toggle-search {
//     svg {
//         width: 18px;
//         height: 18px;

//         transition: all .3s ease;

//         circle {
//             stroke: var(--ui-color);
//         }
//     }

//     &:hover,
//     &:active,
//     &:focus {
//         svg {
//             opacity: 1;
//         }
//     }
// }
a:hover,
a:active,
a:focus {
    outline: 0;
}

.close-search {
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    position: absolute;
    border: none;
    background: none;

    @media (min-width:$lg) {
        right: 40px;
        top: 58px;
    }


    .hamburger {
        position: absolute;
        transform: translate(-50%, -50%) rotate(0deg);
        left: 50%;
        top: 50%;
        width: 25px;
        height: 25px;
        pointer-events: none;

        span {
            width: 100%;
            height: 2px;
            position: absolute;
            background: var(--bs-body-color);
            border-radius: 0;
            z-index: 1;
            transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
            left: 0px;
            margin: 0;
        }

        span:first-child {
            top: 45%;
            transform: rotate(45deg);
        }

        span:nth-child(2) {
            top: 50%;
            opacity: 0;
            transform: translateX(-100%);
        }

        span:last-child {
            top: 45%;
            transform: rotate(-45deg);
        }
    }
}

.mobile-nav-open .nav-item-search {
    display: none;

    @media (min-width:$lg) {
        display: inline-flex;
    }
}

.search-nav-open.menu-open .navbar-toggler {
    display: none;
}