.theme-toggle-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
    border: none;
    /* Customize as needed */
    background: transparent;
    position: relative;
    border-radius: 300px;
    width: 76px;
}

.theme-toggle-btn i {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    /* Adjust size as needed */
    padding: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.bi-moon-fill {
        margin-right: 8px;
    }
}

.theme-toggle-btn i.active {
    color: white;
}

.theme-toggle-btn:after {
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
    z-index: 0;
    background-color: red;
    left: 0;
    transition: all .3s ease;
}

.theme-toggle-btn.dark-theme {
    background: rgba(255, 255, 255, .03);

    .bi {
        color: #fff;
    }

    .bi-moon-fill {
        opacity: 1;
    }

    .bi-sun-fill {
        opacity: .5;
    }

    &:after {
        transform: translateX(2px);
        background: rgba(var(--ui-color-rgb), .05);
    }
}



.theme-toggle-btn.light-theme {
    background: rgba(0, 0, 0, .9);


    .bi {
        color: #fff;
    }

    .bi-moon-fill {
        opacity: .5;
    }

    .bi-sun-fill {
        opacity: 1;
        color: #000;
    }

    &:after {
        transform: translateX(42px);
        background: #fff;
        color: rgba(0, 0, 0, .8);
    }
}