@use '../abstracts'as *;

.toggle-theme {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 4px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    transition: all .3s ease;
    position: absolute;
    top: 0;
    right: 104px;

    @media (min-width:$lg) {
        position: relative;
        right: initial;
    }

    svg {
        width: 16px;
        height: 16px;
        opacity: 1;
        transition: all .3s ease;

        circle {
            stroke: var(--ui-color);
        }
    }

    &:hover,
    &:active,
    &:focus {
        svg {
            opacity: 1;
        }
    }
}

.mobile-nav-open .toggle-theme {
    display: none;

    @media (min-width:$lg) {
        display: inline-flex;
    }
}