@use '../../../assets/scss/abstracts'as *;

.nav-header.hidden {
    top: -80px;
    transition: all .5s ease;
}



.nav-header {
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    width: 100%;
    min-height: 30px;
    justify-content: space-between;
    color: var(--ui-gray-11);
    transition: all .3s ease;

    @media (min-width:$lg) {
        min-height: 80px;
    }

    &:hover {
        background-color: rgba(15, 16, 16, 1);
    }

    .btn-nav-wrap {
        display: flex;
        position: static;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--ui-gray-11);
    }





    a:hover,
    a:active,
    a:focus {
        color: #fff;
    }

    .btn-nav {
        padding: 16px;
        display: inline-flex;
        height: 100%;
        font-size: 14px;
        font-weight: normal;
        color: #fff;
        letter-spacing: .03em;
        position: static;
        border: none !important;

        @media (min-width:$lg) {
            padding: 20px;
        }

        &:before,
        &:after {
            display: none;
        }


        &:after {
            display: none;
        }

        .underline {
            display: none;

            @media(min-width:$md) {
                display: inline-block;
            }
        }
    }

    a.btn-nav-contact {
        color: #fff;
    }

    .btn-nav-contact svg {
        display: none;
        width: 50px;
    }

    &.menu-open {
        .btn-nav-contact {
            opacity: .3;
        }
    }

    .btn-nav-wrap .dropdown {
        position: static !important;
    }

    .dropdown-toggle {
        position: static !important;

    }

    .dropdown-menu {
        position: absolute !important;
        left: 0 !important;
        width: 100%;
        border-radius: 0;
    }

    .dropdown-menu {
        overflow: hidden;
        overflow-y: scroll;
        height: 0;
        padding: 0 !important;
        transition: all .5s ease;
        display: flex !important;
        border: none;
        background: #0e0e0e;


        .dropdown-inner {
            width: 100%;
            height: calc(100% - 18px);
            padding: 0;

            @media (min-width:$lg) {
                padding: 2rem;
            }


        }

    }

    .dropdown-menu.show {
        height: calc(100vh - 60px);
        top: 60px;
        transform: none !important;

        @media (min-width:$lg) {
            height: calc(100vh - 80px);
            top: 80px;
        }
    }
}


// Hamburger
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28px;
    min-width: 28px;
    height: 28px;
    cursor: pointer;


    .line {
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 100px;
        background-color: #fff;
        transition: all 0.3s ease;
    }

    .line3 {
        width: 70%;
    }




}





.btn-nav-search {

    svg {
        width: 28px;
        height: 28px;
    }
}

.btn-nav-search,
.btn-nav-menu {
    background: none !important;
    display: inline-flex;
    align-items: center;


    span {
        display: none;
    }

    svg {
        width: 28px;
        height: 28px;

    }

    &:hover {
        .line3:not(.open) {
            width: 100%;
        }


    }

}



.btn-contact {

    background: none !important;

    @media(min-width: $lg) {
        display: inline-flex;
        margin-right: 1rem;
        background: var(--ui-gray-18) !important;
    }

    .bi {
        font-size: 26px;

        @media(min-width: $lg) {
            display: none;
        }
    }

    svg {
        @media(min-width: $lg) {
            margin-right: 6px;
        }
    }

    &:before {
        border: 2px solid transparent !important;
    }

    &:after {
        display: none;

        @media(min-width: $lg) {
            display: inline-flex;
        }
    }

    span {
        display: none;

        @media(min-width: $lg) {
            display: inline-flex;
        }
    }
}


#nav-left {
    display: none;

    @media(min-width:$lg) {
        display: block;
    }

    a:link,
    a:visited,
    .accordion-button {
        margin: 1rem 0;
        font-size: 32px;
        font-weight: 300;

        color: var(--ui-gray-11);
        transition: all .5s ease !important;


    }

    .accordion-button[aria-expanded="true"] {
        color: #fff;
        pointer-events: none;

        span {
            color: #fff;
            background-size: 100% 100%;
            background-image: linear-gradient(transparent calc(100% - 1px), #fff 1px);

        }
    }

}



.btn-contact-wrap {
    display: flex;
    align-items: center;
}


#menuAccordionWrap {
    #menuAccordion {
        position: relative;
    }


    .accordion-button {
        margin: 1rem 0;
        font-size: 28px;
        font-weight: 300;
        color: var(--ui-gray-11);
        transition: all 0.5s ease !important;
        padding: 8px 0;
        margin: 8px 0;
    }

    .accordion-button[aria-expanded="true"] {
        color: #fff;

        span {
            color: #fff;
            background-size: 100% 100%;
            background-image: linear-gradient(transparent calc(100% - 1px), #fff 1px);

        }
    }

    .accordion-button[aria-expanded=true]:after {
        color: #fff;
        background: black;
        font-weight: normal;
    }

    .accordion-item {
        border: none;
        width: 100%;

        @media(min-width:$lg) {
            position: absolute;
        }
    }
}

#collapse0 {
    display: none;

    @media(min-width:$lg) {
        display: block;
    }
}

.nav-header {

    .accordion-header {
        display: block;

        @media (min-width:$lg) {
            display: none;
        }
    }


    .accordion-body {
        padding: 0;

    }
}

@media (min-width:$lg) {

    .nav-header {
        .collapse {
            .accordion-body {
                opacity: 0;
                transition: all .5s ease;
            }
        }

        .collapsing .accordion-body {
            transform: translateX(-10px);
            opacity: 0;

        }

        .collapse.show {
            .accordion-body {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }


}

.btn-back {
    display: none;

    @media(min-width:$lg) {
        display: inline-flex;
    }
}


.megamenu-content {
    padding: 1rem;
    display: flex;
    flex-direction: row;

    .card {
        margin-left: auto;
        display: none;
        max-width: 250px;

        @media (min-width:$lg) {
            display: inline-flex;
        }
    }

    a.btn-icon-txt {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: normal;
        padding: .5rem 0;
        display: flex;
        color: var(--ui-gray-11);

        @media (min-width:$lg) {
            font-size: 21px;
        }

        .icon {
            display: none;
        }

        .svg-arrow {
            margin-left: 6px;
        }

        &:hover,
        &:active,
        &:focus {
            color: #fff;

        }
    }
}

.nav-header {
    .dropdown-inner {
        position: relative;
        background-image: url(https://picsum.photos/1920/1080?random=0);

        >div {
            position: relative;
            z-index: 2;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            transition: all .3s ease;
        }

        @for $i from 1 through 5 {
            &.collapse#{$i} {
                background-image: url(https://picsum.photos/1920/1080?random=#{$i});
            }
        }
    }
}


.nav-header.search-open {

    .btn-contact-wrap,
    .btn-nav-menu {
        opacity: .3;
    }
}

.nav-header.menu-open {

    .btn-contact-wrap,
    .btn-nav-search {
        opacity: .3;
    }
}

.search-wrap {
    margin-top: 60px;

    .input-search,
    .input-search:hover,
    .input-search:focus {
        border: none;
        background: none;
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    .input-search::placeholder {
        color: var(--ui-gray-15);
    }

    .input-search::-webkit-input-placeholder {
        color: var(--ui-gray-15);
    }

    .input-search:-ms-input-placeholder {
        color: var(--ui-gray-15);
    }

    .input-search::-moz-placeholder {
        color: var(--ui-gray-15);
    }

    .input-wrap {
        display: flex;
    }

    input.btn-search,
    button.btn-search {
        position: relative;
        z-index: initial;
        background-color: #000;
        padding-left: 2rem;
        padding-right: 2rem;

        &:hover,
        &:active,
        &:focus {
            background-color: #000;
            color: #fff;
            border: 1px solid transparent;
        }

        svg {
            transform: scale(1.5);
        }
    }




    .pop-searches {
        color: var(--ui-gray-11);

        .btn {
            margin: .5rem;
        }
    }
}