@use '../abstracts'as *;

#customize-section {


    .customize-menu {
        padding: 2rem;

        @media (min-width:$lg) {
            padding: 3rem 4rem;
        }

        a {
            margin: 6px;

            &.active {
                span {
                    background-size: 100% 100%;
                }
            }
        }
    }
}