@use '../abstracts'as *;

#accordionSolutions {
    .accordion-item {

        .accordion-button {
            &:hover {
                color: #fff !important;
            }
        }

        &:hover {
            border-bottom: 1px solid rgba(var(--bs-body-color-rgb), 0.8);
            transition: all 1s ease;
        }

        .accordion-button.collapsed {
            color: var(--bs-body-color);
        }

        .accordion-button {
            font-size: 32px;
            font-weight: 300;
            transition: all .5s ease;



            &.underline {
                >span {
                    border: none;
                    line-height: 1.4;
                }
            }



        }

        .accordion-button:not(.collapsed) {
            color: #fff !important;


        }
    }






    .accordion-item:nth-child(1) {
        animation-delay: 0s;
    }

    .accordion-item:nth-child(2) {
        animation-delay: 0.5s;
    }

    .accordion-item:nth-child(3) {
        animation-delay: 1s;
    }

}

[data-aos="scroll-fade"] {
    >* {
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 1s !important;
        transition-delay: 1s;
    }

    &.aos-animate {
        >* {
            opacity: 1;
            transform: translateY(0);
        }


    }
}