@use '../../../assets/scss/abstracts'as *;



.cards-2-col {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}

.cards-2-col {


    >div {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 3rem;
        width: 100%;
    }

    @media screen and (min-width: $md) {


        >div {
            flex-basis: calc(50% - 2rem);
            width: 50%;
        }



    }

    @media screen and (min-width: $lg) {
        >div {
            margin-left: 2rem;
            margin-right: 2rem;
            flex-basis: calc(50% - 4rem);
        }

        >div:nth-child(2) {
            margin-top: 200px;
        }

        >div:nth-child(3) {
            margin-top: -200px;
        }
    }

    @media screen and (min-width: $xl) {
        >div {
            margin-left: 3rem;
            margin-right: 3rem;
            margin-bottom: 16rem;
            flex-basis: calc(50% - 6rem);
        }
    }
}
