.circleArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--bs-emphasis-color-alt-rgb), 1);
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.svgArrow {
  width: 16px;
  height: 16px;
}

.svgCaret {
  stroke: var(--bs-body-color);
  stroke-width: 24;
  transition: transform 0.3s ease;
  transform: translateX(-40px) scale(1);
}

.svgStem {
  stroke: var(--bs-body-color);
  stroke-width: 24;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: stroke-dashoffset 0.3s ease;
}
