@use '../../../assets/scss/abstracts'as *;


.expand-box {
    padding: 10px;
    margin-bottom: 10px;
}

.expand-box-title {
    display: flex;
    align-items: center;
    margin: 20px;
    padding-bottom: 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(var(--ui-color-rgb), .1);

    @media (min-width:$lg) {
        cursor: default;
    }

    h3 {
        margin: 0;
    }
}


@media (max-width: 767px) {
    .expand-content {

    }


    .expand-box.open .expand-content {
        display: block;
    }
}

