@use '../../../assets/scss/variables' as *;

.gridGallery {
}

.cardsColumns {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.cardBox {
  box-sizing: border-box;

  margin-bottom: 60px;

  @media screen and (min-width: $sm) {
    padding: 2rem 0;
    flex-basis: calc(50% - 1rem);
  }
}

.column1 .cardsColumns {
  flex-direction: column;
}

@media (min-width: $sm) {
  .column2 .cardBox {
    flex-basis: calc(50% - 2rem);
  }

  .column3 .cardBox {
    flex-basis: calc(33.33% - 2rem);
  }
}
