.btn-brand {
    >div {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        color: #fff;
        height: 100%;

        span:first-child {
            width: 36px;
            margin-right: 9px;
        }

        span:last-child {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

@keyframes fade-in-item {
    0% {
        opacity: 0;
    }

    30% {
        opacity: .5;
    }

    60% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}


#stem,
#leaf1,
#leaf2,
#leaf3 {
    opacity: 0;
}

.nav-header-visible {
    #stem {
        animation: fade-in-item .5s .5s ease-out forwards;
    }

    #leaf1 {
        animation: fade-in-item .5s 1s ease-out forwards;
    }

    #leaf2 {
        animation: fade-in-item .5s 1.5s ease-out forwards;
    }

    #leaf3 {
        animation: fade-in-item .5s 2s ease-out forwards;
    }
}